:root {
    --general-text: #312C27;
    --accent-text: #1F1711;
    --general-bg: #FFF9F4;
    --accent-bg: #FFE0CB;
    --accent-color: #FFA55C;
    --transition: all .4s;
    --border-radius: 20px;
}

.body { 
    background: var(--general-bg);
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--general-text);
    font-size: 16px;
    font-weight: 400;
    
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.wrapper {
    min-height: 100%;
    width: 100%;    
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}
.main__about {
    padding: 140px 0;
}

.main__program,
.main__gallery,
.main__feedback {
    padding-bottom: 140px;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%; 
}

.title {
    color: var(--accent-text);
    font-family: Gabriola;
    font-size: 74px;    
    line-height: 0.82;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;    
    background-color: var(--accent-color);
    border-radius: 60px;
    color: var(--general-text);
    transition: all .4s;
}

.button:hover {
    background-color: #FF9138;
}

.modal {
    position: fixed;
    inset: 0;
    background: #0000004b;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.modal__window {
    position: relative;
    max-width: 428px;
    background: var(--general-bg);
    padding: 0 60px 60px;
    border-radius: 20px;    
}

.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;    
}

.modal__img {
    margin: -65px 48px 15px 12px;
}

.modal__title {     
    font-family: Gabriola;
    font-size: 42px;
    color: var(--accent-text);
    line-height: 0.9;
    margin-bottom: 10px;
}

.modal__text {
    margin-bottom: 30px;
}

.field {
    position: relative;
}

.modal__form-label {
    display: block;
    position: relative;
}

.modal__form-label span {
    display: block;
    position: absolute;
    top: 12px;
    left: 28px;
    font-size: 11px;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.modal__form-input {
    
    /* max-width: 308px; */
    width: 100%;
    padding: 19px 28px;
    border: 1px solid #ac907a;
    border-radius: 100px;
    margin-bottom: 10px;
    background: transparent;
    font-size: 16px;
    transition: var(--transition);
}

.modal__form-input:hover {
    border: 1px solid var(--accent-color);
}

.modal__form-input::placeholder {
    transition: .6s;
}

.modal__form-input:hover::placeholder {
    color: var(--accent-color);
}

.modal__form-input:focus {
    padding: 26px 28px 12px;
}

.modal__form-input:focus + span {
    opacity: 1;
    visibility: visible;
}