@media (max-width: 600px) {   

    .hero__content-text {
        padding-bottom: 30px;
    }
    .title {
        font-size: 12vw;
    }

    /* -------------------------- */

    .about__grid {
        grid-template: none;
    } 
    .accordion-list__item {
        margin-bottom: 15px;
    }
    .accordion-list__heading {
        padding: 20px 10px;
    }

    /* --------------------------------------- */

    .program__action {
        grid-template: none;
        justify-content: center;
    }
    .program__discount {
        max-width: 287px;
    }
    .program__price {
        text-align: center;
    }
    .program__top {
        margin-bottom: 30px;
    }

    /* -------------------------------------- */

    .gallery__content {
        flex-direction: column;
    }
}