@media (max-width: 700px) {
    
    .jobopen__interest-body--info {
        flex-direction: column;
        gap: 20px;
    }

    .jobopen__form {
        max-width: 360px;
    }

    .jobopen__form .contact__form-button {
        display: block;
        width: 100%;
    }

    /* ---------------------------------------------- */

    .contacts__connect-body {        
        gap: 30px;
        
    }
}