/* .contacts {
    display: none;
    opacity: 0;
    visibility: hidden;
} */

.body--opened-page--contacts .contacts {
    display: block;
    opacity: 1;
    visibility: visible;
}

.body--opened-page--contacts .main {
    display: none;
}

.page__contacts {
    margin-bottom: 160px;
}

.contacts {
    flex-grow: 1;
}

.contacts__body {
    margin-bottom: 120px;
}

.contacts__heading {
    padding-bottom: 60px;
    border-bottom: 2px solid #E5E5E5;
}

.contacts__heading-title {
    font-size: 48px;
}

.contacts__body-item {
    display: flex;
    gap: 260px;
    padding: 60px 0;
    border-bottom: 1px solid #E5E5E5;
}

.contacts__body-item--title {    
    max-width: 400px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
}

.contact__body-mobil--text {
    max-width: 300px;
    width: 100%;
    font-family: var(--second-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
}

.contacts__body-item--info {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.contact__body-mobil--number {
    font-family: var(--second-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
}

.contact__body-mobil--address {
    max-width: 270px;
    width: 100%;
}
.contact__body-mobil--text2 {
    font-family: var(--second-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
}

.contact__body-5socials {
    display: flex;
    gap: 20px;
}

/* ---------------------------------------------- */

.contacts__connect-title {
    margin-bottom: 60px;
}

.contacts__connect-body {
    display: flex;
    gap: 61px;
    margin-left: 419px;
}

.contacts__connect-body--form .field__input::placeholder {
    color: #393939;
}

.contacts__connect-body--form .contact__label span {    
    color: #BBBCBC;   
}

.contacts__connect-body--content {
    font-family: var(--second-family);
    font-size: 16px;    
    line-height: 1.4;
    max-width: 360px;
    width: 100%;
}

.contacts__connect-body--text1 {
    margin-bottom: 40px;
}



