/* .projects {
    display: none;
    opacity: 0;
    visibility: hidden;
} */



.projects__heading-title {
    font-size: 48px;
}

.control {
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: var(--second-family);    
    font-weight: 700;
    line-height: 1.4;
}

.projects {
    flex-grow: 1; 
}

.projects__body {
    margin-bottom: 100px;
}

.projects__body-item {
    display: flex;
    gap: 20px;
    justify-content: space-between;    
    padding: 60px 0;
    border-top: 2px solid #e5e5e5;;
}

.projects__body-img {
    width: 376px;
    height: 376px;    
}

.projects__body-img img {
    width: 100%;    
}

.projects__body-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 20px;
}

.projects__body-content {
    max-width: 630px;
    position: relative;
    padding: 60px 0;
}

.projects__body-text {
    max-width: 630px;
}

.projects__body-link {
    position: absolute;
    bottom: 0;
    left: 0;
}

.body--opened-page .projects {
    display: block;
    opacity: 1;
    visibility: visible;
}
.body--opened-page .main {
    display: none;
    opacity: 0;
    visibility: hidden;
}