.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__logo-img svg {
    width: 38px;
    height: 77px;
}

.header__logo--text {
    font-size: 38px;
    font-weight: 500;
    line-height: 1.4;
}

.nav__list {
    display: flex;
    justify-content: center;
    gap: 10px 37px;
    flex-wrap: wrap;
}

.nav__item,
.header__tel-number {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
}

.nav__link,
.header__tel-number {
    transition: var(--transition);
}

.nav__link:hover,
.header__tel-number:hover {
    color: #cda177;
}

.nav__link:focus,
.header__tel-number:focus {
    color: #cda177;
}



.header__tel {
    display: flex;
    gap: 20px;
    flex-shrink: 0;
}

.header__tel-icon path {
    transition: var(--transition);
}

.header__tel-icon:hover  path {
    fill: #bf0a0a;
}

.burger-icon {    
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50px;
    height: 40px;
    padding: 5px;
    display: none;
}

.burger-icon span {
    display: block;
    width: 40px;
    height: 4px;
    background: #000;
}

.burger-phone {
    display: none;
    
}

.burger-phone path {
    transition: var(--transition);
}

.burger-phone:hover path {
    stroke: #9b9898;
}