@media (max-width: 1200px) {
    .main__hero {     
        margin: 0 0 160px;               
    }

    /* --------------------------------------------- */

    .necessity__text {
        padding: 15px;        
    }

    /* ---------------------------------------------- */

    .contact__body {        
        padding-left: 250px;
    }

    /* ----------------------------------------------- */

    .aboutus__quality-img {        
        gap: 20px;    
    }

    .aboutus__advantages-item { 
        flex-direction: column;       
        gap: 40px; 
        padding-left: 50px;       
    }

    .aboutus__certificates-item {
        padding: 30px;
    }

    .aboutus__certificates-title {
        font-size: 18px;
    }

    /* ----------------------------------------- */

    .contacts__body-item {        
        gap: 140px;        
    }

    .contacts__connect-body {        
        gap: 61px;
        margin-left: 0;
    }
    
}