.aboutus {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.aboutus {
    flex-grow: 1;
}

.aboutus__heading-title {
    font-size: 48px;
}

.pages__descr {
    color: var(--accent-text);
    font-family: var(--second-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
    max-width: 255px;
}

.aboutus__quality-descr {
    padding-top: 70px;
}

.aboutus__quality-descr--mobil {
    display: none;
}

.aboutus__quality-content {
    max-width: 885px;
    padding-left: 25px;
}

.aboutus__quality {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #e5e5e5;
    margin-bottom: 179px;   
}

.aboutus__quality-text {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    padding: 60px 0;
}

.aboutus__quality-img {
    display: flex;
    gap: 65px;    
}

.aboutus__quality-img--1,
.aboutus__quality-img--2 {
    max-width: 410px;
    max-height: 410px;
}

.aboutus__quality-img img {
    width: 100%;
}

/* ------------------------------------- */

.aboutus__know {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    margin-bottom: 160px;
}

.aboutus__know-content {
    max-width: 885px;
}

.aboutus__know-content--title {
    margin-bottom: 40px;
}

.aboutus__know-descr--mobil {
    display: none;
}

.aboutus__know-content--text {
    max-width: 716px;    
    font-family: var(--second-family);
    margin-bottom: 60px;
}

.statistics__list {
    display: grid;
    gap: 0 0px;
    grid-template: repeat(2, auto) / repeat(3, auto);
}

.statistics__item-title {
    font-size: 48px;
}

.statistics__item:first-child {
    padding: 0 10px 29px 0;    
    border-bottom: 1px solid #E5E5E5 ;
}

.statistics__item:nth-child(2) {
    padding: 0 11px 29px 49px;
    border-bottom: 1px solid #E5E5E5 ;
    border-left: 1px solid #E5E5E5 ;
    border-right: 1px solid #E5E5E5 ;
}

.statistics__item:nth-child(3) {
    padding: 0 0 29px 48px;    
    border-bottom: 1px solid #E5E5E5 ;
}

.statistics__item:nth-child(4) {
    padding: 30px 10px 0 0;
}

.statistics__item:last-child {
    padding: 30px 11px 0 49px;    
    border-left: 1px solid #E5E5E5 ;
    border-right: 1px solid #E5E5E5 ;
}

.statistics__item-text {
    font-family: var(--second-family);
}

/* ---------------------------------------------- */

.aboutus__circuitry {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-bottom: 160px;
}

.aboutus__circuitry-descr {
    max-width: 180px;
    width: 100%;
}

.aboutus__circuitry-content {
    max-width: 780px;
    margin-right: 105px;
}

.aboutus__circuitry-content--title {
    max-width: 640px;
    /* padding-right: 140px; */
    margin-bottom: 60px;
} 

.aboutus__circuitry-descr--mobil {
    display: none;
}

.circuitry__item {
    max-width: 778px;
    width: 100%;
    margin-bottom: 41px;
    padding-right: 15px;
}

.circuitry__control {
    display: flex;
    align-items: center;
    gap: 20px;    
}

.circuitry__control-icon--plus {
    display: flex;
    align-items: center;
    transition: var(--transition);
}

.circuitry__control-icon--minus { 
    display: flex;   
    align-items: center;
    display: none;   
}

.accordion-list__item--opened .circuitry__control-icon--plus {
    display: none;    
}

.accordion-list__item--opened .circuitry__control-icon--minus {
    display: flex;
    align-items: center;    
} 

.circuitry__control-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4;    
}

.circuitry__text {
    width: 100%;
    font-family: var(--second-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    padding-left: 20px;
    margin: 20px;
    margin-left: 35px;
    border-left: 1px solid #DFD1A7;
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}



.body--opened-page--aboutus .aboutus {
    display: block;
    opacity: 1;
    visibility: visible;
}

.body--opened-page--aboutus .main {
    display: none;
    opacity: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */

.aboutus__advantages {
    margin-bottom: 160px;
}

.aboutus__advantages-heading {
    display: flex;
    gap: 60px;
}

.aboutus__advantages-heading--text {
    max-width: 255px;    
}

.aboutus__advantages-heading--title {
    max-width: 432px;
    margin-bottom: 60px;
}

.aboutus__advantages-heading--text--mobil {
    display: none;
}

.aboutus__advantages-item {
    display: flex;    
    gap: 50px;
    padding: 60px 20px 60px 0;
    border-bottom: 1px solid #E5E5E5;
}

.aboutus__advantages-wrapper {
    display: flex;
    gap: 50px;
}

.aboutus__advantages-item:first-child {
    border-top: 1px solid #E5E5E5;
}

.aboutus__advantages-textwe {
    max-width: 322px;    
}

.aboutus__advantages-textother {
    max-width: 474px;
}

.aboutus__advantages-title {    
    max-width: 255px;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
}

.aboutus__advantages-textwe--title,
.aboutus__advantages-textother--title {
    
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 20px;
}

.aboutus__advantages-textwe {
    max-width: 322px;
    width: 100%;
}

.aboutus__advantages-textwe-text {    
    max-width: 322px;
    width: 100%;
}

.aboutus__advantages-textother {
    max-width: 474px;
    width: 100%;
}

.aboutus__advantages-textother-text {
    max-width: 474px;
    width: 100%;
}


/* --------------------------------------------- */
.aboutus__certificates {
    margin-bottom: 160px;
}

.aboutus__certificates-heading {
    display: flex;
    gap: 60px;
    margin-bottom: 90px;
}

.aboutus__certificates-heading--title {
    max-width: 404px;
}

.aboutus__certificates-heading--text-mobil {
    display: none;
}

.aboutus__certificates-list {
    display: flex;    
}



.aboutus__certificates-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    gap: 20px;
    padding: 40px;
    margin-bottom: 60px;
    border: 1px solid #e5e5e5;
    max-width: 400px;
    width: 100%;    
}

.aboutus__certificates-item:nth-child(2) {
    border-left: none;
    border-right: none;
}

.aboutus__certificates-img {    
    /* max-width: 320px; */
    width: 100%;    
}

.aboutus__certificates-img img {
    /* max-width: 320px; */
    width: 100%;    
} 

.aboutus__certificates-title {
    max-height: 68px;
    height: 100%; 
    display: flex;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4;
    color: #BBBCBC;
    padding-bottom: 20px;
}


.aboutus__certificates-list--button {
    max-width: 200px;
    width: 100%;
    align-items: end;
}

.aboutus__certificates-button {
    display: flex;
    gap: 10px;
    max-width: 237px;
    width: 100%;
    background: #DFD1A7;
    margin: 0 auto;
}